html, body, #root{
  height: 100%;
}

.container{
  max-width: 960px;
  margin: 0 auto;
}

.app-wrapper{
  display: grid;
  height: 100%;
  grid-template-areas: 
  "header" 
  "app-content"
  "footer";
  grid-template-rows: 60px 1fr 60px;
  grid-template-columns: 12fr;
  grid-gap: 10px;
}

.app-content{
  grid-area: app-content;
  display: grid;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  grid-template-areas: "sidebar content";
  grid-template-columns: 3fr 9fr;
  grid-gap: 10px;
}

.content{
  padding: 10px;
  grid-area: content;
  background-color: cadetblue;
}

.content figure {
  padding: 0;
  margin: 0;
}

.content figure img{
  height: 100px;
  width: 100%;
  object-fit: cover;
}



